<section class="container">
    <h1> Accordian 1 works!</h1>
  <crs-accordian>
    <accordian>
      <div accordianHeader>accordian header 1</div>
      <div accordianBody>
        <p>accordian body 1</p>
      </div>
    </accordian>
    <accordian>
        <div accordianHeader>accordian header 2</div>
        <div accordianBody>
          <p>accordian body 2</p>
        </div>
    </accordian>
  </crs-accordian>
</section>
<hr />
<!-- <section class="container">
    <h1> Accordian 2 works!</h1>
    <crs-accordian>
        <accordian>
          <div accordianHeader>accordian header 1</div>
          <div accordianBody>
            <p>accordian body 1</p>
          </div>
        </accordian>
        <accordian>
            <div accordianHeader>accordian header 2</div>
            <div accordianBody>
              <p>accordian body 2</p>
            </div>
        </accordian>
      </crs-accordian> 
</section> -->
