*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fff;
}

header{
  background-color: #151515;
}

footer{
  background-color: #151515;
  color: #fff;
}

.vlogo{
  font-family: fantasy;
  font-size: 32px;
  letter-spacing: 5px;
  margin: 0 40px;
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link{
  padding: 10px 15px;
  margin: 0 15px;
  color: #fff;
  font-weight: bold;
}

.carousel-inner{
  height: 550px;
}

.carousel-item{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}

.carousel-caption{
  top: 20px;
}
.carousel-caption h5{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 48px;
  text-transform: uppercase;
}
.carousel-caption p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}
.card-img-top{
  height: 200px;
}