<div class="container-fluid"> 
  <div class="container">
    <section class="row">
        <header class="col-12">
            <h1>Reactive Forms</h1>
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active" routerLink="/login">Login <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" routerLink="/signup">Signup</a>
                    <a class="nav-item nav-link active" routerLink="/registration">Application</a>
                    <a class="nav-item nav-link active" routerLink="/fileupload">File upload</a>
                    <a class="nav-item nav-link active" routerLink="/accordian">Accordian</a>
                  </div>
                </div>
            </nav>
        </header>
    </section>
    <section class="row">
      <div class="col-12" style="min-height: 420px;">
          <router-outlet></router-outlet>
      </div>
    </section>
    <section class="row">
        <footer class="col-12">
        <small>Copyright@v4v</small>
      </footer>
    </section>
  
  </div>
</div>

